@using System.Globalization
@model CandidatoInfo.Models.Candidato

@{
    ViewData["Title"] = "Index";
}

<div>
    <h4>Candidato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoPretendido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoPretendido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PretensaoSalarial)
        </dt>
        <dd class="col-sm-10">
            @string.Concat("R$ ", Model.PretensaoSalarial.ToString("f2"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataTeste)
        </dt>
        <dd class="col-sm-10">
            @Model.DataTeste.ToString("dd/MM/yyyy")
        </dd>
    </dl>
</div>
